
<md-content>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings">
            </md-button>
        </div>
    </md-toolbar>
</md-content>
<div class="row one">
    <div class="flex">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime repellat amet, quos debitis. Aliquam tenetur facere numquam sunt incidunt doloribus quisquam odit ipsum, dolorem laborum facilis soluta ad consequuntur optio!
    </div>
</div>